# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcuserdata
xcuserdata/

# SwiftPM
.build/

# Logs
*.log

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Carthage
Carthage/Build/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
